/* welcomeCon  */

#welcomeCon {
    padding-top: 100px;
}


/* resume cont  */

#resumeCont {
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resumeCont img {
    max-width: 80%;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.411);
}